<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.webnest.mapper.PostMapper">

    <!-- 전체 조회 열린둥지 -->
    <select id="selectAllOpen" resultType="PostResponseDTO">
        SELECT TBP.ID, TBP.POST_TITLE, TBP.POST_CONTENT, TBP.POST_VIEW_COUNT,
        TBP.POST_TYPE, TBP.USER_ID, TBP.POST_CREATE_AT,
        TBU.USER_EMAIL, TBU.USER_NICKNAME
        FROM TBL_POST TBP
        JOIN TBL_USER TBU ON TBP.USER_ID = TBU.ID
        WHERE TBP.POST_TYPE = 'OPEN'
        ORDER BY TBP.POST_CREATE_AT DESC
    </select>



    <!-- 전체 조회 문제둥지 -->
<!--    <select id="selectAllQuestion" resultType="PostResponseDTO">-->
<!--        SELECT TBP.ID, TBP.POST_TITLE, TBP.POST_CONTENT, TBP.POST_VIEW_COUNT,-->
<!--        TBP.POST_TYPE, TBP.USER_ID, TBP.POST_CREATE_AT,-->
<!--        TBU.USER_EMAIL, TBU.USER_NICKNAME-->
<!--        FROM TBL_POST TBP-->
<!--        JOIN TBL_USER TBU ON TBP.USER_ID = TBU.ID-->
<!--        WHERE TBP.POST_TYPE != 'OPEN'-->
<!--        ORDER BY TBP.POST_CREATE_AT DESC-->
<!--    </select>-->
    <select id="selectAllQuestion" resultType="PostResponseDTO">
        SELECT
        TBP.ID, TBP.POST_TITLE, TBP.POST_CONTENT, TBP.POST_VIEW_COUNT,
        TBP.POST_TYPE, TBP.USER_ID, TBP.POST_CREATE_AT,
        TBU.USER_EMAIL, TBU.USER_NICKNAME
        FROM TBL_POST TBP
        JOIN TBL_USER TBU ON TBP.USER_ID = TBU.ID
        WHERE UPPER(TBP.POST_TYPE) != 'OPEN'
        ORDER BY TBP.POST_CREATE_AT DESC
    </select>

    <!-- 상세 조회-->
<!--    <select id="select" parameterType="Long" resultType="PostResponseDTO">-->
<!--        SELECT TBP.ID, TBP.POST_TITLE, TBP.POST_CONTENT, TBP.POST_VIEW_COUNT, TBP.POST_TYPE, TBP.USER_ID, TBP.POST_CREATE_AT,-->
<!--        TBU.USER_EMAIL, TBU.USER_NICKNAME-->
<!--        FROM TBL_POST TBP-->
<!--        JOIN TBL_USER TBU ON TBP.USER_ID = TBU.ID-->
<!--        AND TBP.ID = #{id}-->
<!--        ORDER BY TBP.POST_CREATE_AT DESC-->
<!--    </select>-->
    <select id="select" parameterType="Long" resultType="PostResponseDTO">
        SELECT
        TBP.ID, TBP.POST_TITLE, TBP.POST_CONTENT, TBP.POST_VIEW_COUNT,
        TBP.POST_TYPE, TBP.USER_ID, TBP.POST_CREATE_AT,
        TBU.USER_EMAIL, TBU.USER_NICKNAME
        FROM TBL_POST TBP
        JOIN TBL_USER TBU ON TBP.USER_ID = TBU.ID
        WHERE TBP.ID = #{id}
    </select>
    <!--  마이페이지 조회  열린둥지 -->
    <select id="selectAllOpenByUserId" parameterType="long" resultType="PostResponseDTO">
        SELECT  TBP.ID,
        TBP.POST_TITLE,
        TBP.POST_CONTENT,
        TBP.POST_VIEW_COUNT,
        TBP.POST_TYPE,
        TBP.USER_ID,
        TBP.POST_CREATE_AT,
        TBU.USER_EMAIL,
        TBU.USER_NICKNAME,
        (SELECT COUNT(*) FROM TBL_COMMENT TBC WHERE TBC.POST_ID = TBP.ID) AS COMMENT_COUNT
        FROM TBL_POST TBP
        JOIN TBL_USER TBU ON TBP.USER_ID = TBU.ID
        WHERE TBP.USER_ID = #{userId}
        AND TBP.POST_TYPE = 'OPEN'
        ORDER BY TBP.POST_CREATE_AT DESC
    </select>

    <!-- 마이페이지 조회 - 문제둥지 -->
    <select id="selectAllQuestionByUserId" parameterType="long" resultType="PostResponseDTO">
        SELECT  TBP.ID,
        TBP.POST_TITLE,
        TBP.POST_CONTENT,
        TBP.POST_VIEW_COUNT,
        TBP.POST_TYPE,
        TBP.USER_ID,
        TBP.POST_CREATE_AT,
        TBU.USER_EMAIL,
        TBU.USER_NICKNAME,
        (SELECT COUNT(*) FROM TBL_COMMENT TBC WHERE TBC.POST_ID = TBP.ID) AS COMMENT_COUNT
        FROM TBL_POST TBP
        JOIN TBL_USER TBU ON TBP.USER_ID = TBU.ID
        WHERE TBP.USER_ID = #{userId}
        AND TBP.POST_TYPE != 'OPEN'
        ORDER BY TBP.POST_CREATE_AT DESC
    </select>


    <!--    삭제 - 마이페이지 전체 조회-->
    <select id="selectAllByUserId" parameterType="Long" resultType="PostResponseDTO">
        SELECT TBP.ID, TBP.POST_TITLE, TBP.POST_CONTENT, TBP.POST_VIEW_COUNT, TBP.POST_TYPE, TBP.USER_ID, TBP.POST_CREATE_AT,
        TBU.USER_EMAIL, TBU.USER_NICKNAME
        FROM TBL_POST TBP
        JOIN TBL_USER TBU ON TBP.USER_ID = TBU.ID
        AND TBP.USER_ID = #{userId}
    </select>
    
<!--    게시글 작성-->
        <insert id="insertPost" parameterType="PostVO">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_POST.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_POST(ID, POST_TITLE, POST_CONTENT, POST_TYPE, POST_CREATE_AT, USER_ID)
        VALUES (#{id}, #{postTitle}, #{postContent}, #{postType}, #{postCreateAt}, #{userId})
    </insert>

<!--    게시글 조회수 증가-->
    <update id="updatePostViewCount" parameterType="Long">
        UPDATE TBL_POST
        SET POST_VIEW_COUNT = POST_VIEW_COUNT + 1
        WHERE ID = #{id}
    </update>


<!--    좋아요-->
<!--        <select id="selectPostLikeCount" parameterType="long" resultType="int">-->
<!--            SELECT COUNT(*)-->
<!--            FROM TBL_POST_LIKE-->
<!--            WHERE POST_ID = #{postId}-->
<!--        </select>-->





<!---->
<!---->

    <!-- 좋아요 여부 확인 -->
    <select id="isPostLiked" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM TBL_POST_LIKE
        WHERE POST_ID = #{postId}
        AND USER_ID = #{userId}
    </select>

    <!-- 좋아요 추가 -->
    <insert id="insertLike" parameterType="map">
        INSERT INTO TBL_POST_LIKE (ID, USER_ID, POST_ID)
        VALUES (SEQ_POST_LIKE.NEXTVAL, #{userId}, #{postId})
    </insert>

    <!-- 좋아요 삭제 -->
    <delete id="deleteLike" parameterType="map">
        DELETE FROM TBL_POST_LIKE
        WHERE POST_ID = #{postId}
        AND USER_ID = #{userId}
    </delete>

    <!-- 좋아요 개수 조회 -->
    <select id="selectPostLikeCount" parameterType="long" resultType="int">
        SELECT COUNT(*)
        FROM TBL_POST_LIKE
        WHERE POST_ID = #{postId}
    </select>


</mapper>