<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.webnest.mapper.QuizMapper">
<!--    필터링토글 값받고 필터링해주는 쿼리-->
    <select id="selectAllFilter" parameterType="Map" resultType="QuizVO">
        SELECT ID,
            QUIZ_DIFFICULT as quizDifficult,
            QUIZ_LANGUAGE as quizLanguage,
            QUIZ_TITLE as quizTitle,
            QUIZ_CATEGORY as quizCategory,
            QUIZ_EXP as quizExp,
            QUIZ_DESCRIPTION as quizDescription
        FROM TBL_QUIZ
        WHERE 1 = 1
        <if test="quizLanguage != null and quizLanguage != ''">
            AND QUIZ_LANGUAGE = #{quizLanguage}
        </if>
        <if test="quizDifficult != null and quizDifficult != ''">
            AND QUIZ_DIFFICULT = #{quizDifficult}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (QUIZ_TITLE LIKE CONCAT('%', #{keyword}, '%') OR QUIZ_DESCRIPTION LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        ORDER BY ID ASC
        <if test="page != null">
            OFFSET (#{page} - 1) * 10 ROWS FETCH NEXT 10 ROWS ONLY
        </if>
    </select>
    <select id="selectQuizWithPersonal" parameterType="map" resultType="QuizPersonalDTO">
        SELECT
            Q.ID AS id,
            Q.QUIZ_TITLE AS quizTitle,
            Q.QUIZ_DESCRIPTION AS quizDescription,
            Q.QUIZ_CATEGORY AS quizCategory,
            Q.QUIZ_DIFFICULT AS quizDifficult,
            Q.QUIZ_LANGUAGE AS quizLanguage,
            Q.QUIZ_EXPECTATION AS quizExpectation,
            Q.QUIZ_EXP AS quizExp,
            P.quizPersonalId AS quizPersonalId,
            COALESCE(P.QUIZ_PERSONAL_IS_SOLVE, 0) AS quizPersonalIsSolve,
            COALESCE(P.QUIZ_PERSONAL_IS_BOOKMARK, 0) AS quizPersonalIsBookmark,
            P.userId AS userId,
            P.quizId AS quizId
        FROM TBL_QUIZ Q
             LEFT JOIN (
                SELECT
                QUIZ_ID AS quizId,
                USER_ID AS userId,
                MAX(ID) AS quizPersonalId,
                MAX(QUIZ_PERSONAL_IS_BOOKMARK) AS QUIZ_PERSONAL_IS_BOOKMARK,
                MAX(QUIZ_PERSONAL_IS_SOLVE) AS QUIZ_PERSONAL_IS_SOLVE
        FROM TBL_QUIZ_PERSONAL
            WHERE USER_ID = #{userId}
            GROUP BY QUIZ_ID, USER_ID
        ) P
        ON Q.ID = P.quizId
        WHERE 1 = 1
        <if test="quizLanguage != null and quizLanguage != ''">
            AND Q.QUIZ_LANGUAGE = #{quizLanguage}
        </if>
        <if test="quizDifficult != null and quizDifficult != ''">
            AND Q.QUIZ_DIFFICULT = #{quizDifficult}
        </if>
        <if test="quizPersonalIsSolve != null and quizPersonalIsSolve != ''">
            AND COALESCE(P.QUIZ_PERSONAL_IS_SOLVE, 0) = #{quizPersonalIsSolve}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (Q.QUIZ_TITLE LIKE '%' || #{keyword} || '%' OR Q.QUIZ_DESCRIPTION LIKE '%' || #{keyword} || '%')
        </if>
        ORDER BY Q.ID ASC
        <if test="offset != null and pageSize != null">
            OFFSET #{offset} ROWS FETCH NEXT #{pageSize} ROWS ONLY
        </if>
    </select>




    <!--    전체 퀴즈리스트-->
    <select id="selectAll" resultType="QuizVO">
        SELECT ID, QUIZ_TITLE, QUIZ_DESCRIPTION, QUIZ_CATEGORY, QUIZ_DIFFICULT, QUIZ_LANGUAGE, QUIZ_EXPECTATION, QUIZ_EXP
        FROM TBL_QUIZ
    </select>
<!--    퀴즈 리스트 페이징처리 쿼리-->
    <select id="selectListTotalCount" parameterType="Map" resultType="Long" >
        SELECT COUNT(ID)
        FROM TBL_QUIZ
    </select>
<!--    퀴즈 조회(싱글 워크스페이스)-->
    <select id="select" parameterType="Long" resultType="QuizVO">
        SELECT ID, QUIZ_TITLE, QUIZ_DESCRIPTION, QUIZ_CATEGORY, QUIZ_DIFFICULT, QUIZ_LANGUAGE, QUIZ_EXPECTATION, QUIZ_EXP
        FROM TBL_QUIZ
        WHERE ID = #{id}
    </select>
<!--    퀴즈 결과기댓값 받고 "실패" 또는 "성공" 응답-->
    <select id="selectExpectation" resultType="String" parameterType="Long">
        SELECT QUIZ_EXPECTATION
        FROM TBL_QUIZ
        WHERE ID = #{id}
    </select>

<!--    퀴즈 조회(JOIN)-->
    <select id="selectQuizPersonalAll" resultType="QuizPersonalDTO">
        SELECT
            TBQ.ID as quizId,
            TBQ.QUIZ_TITLE as quizTitle,
            TBQ.QUIZ_DESCRIPTION as quizDescription,
            TBQ.QUIZ_CATEGORY as quizCategory,
            TBQ.QUIZ_DIFFICULT as quizDifficult,
            TBQ.QUIZ_LANGUAGE as quizLanguage,
            TBQ.QUIZ_EXPECTATION as quizExpectation,
            TBQ.QUIZ_EXP as quizExp,
            TQP.ID as quizPersonalId,
            TQP.QUIZ_PERSONAL_IS_SOLVE as quizPersonalIsSolve,
            TQP.QUIZ_PERSONAL_IS_BOOKMARK as quizPersonalIsBookmark,
            TQP.USER_ID as userId
        FROM TBL_QUIZ TBQ
        JOIN TBL_QUIZ_PERSONAL TQP
        ON TBQ.ID = TQP.QUIZ_ID
    </select>
                                                <!--    QuizPersonal QRUD-->
<!--    문제 제출시 풀었던 내역 저장-->
    <insert id="insert" parameterType="QuizPersonalVO">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT SEQ_QUIZ_PERSONAL.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_QUIZ_PERSONAL (ID, QUIZ_ID, USER_ID, QUIZ_PERSONAL_IS_BOOKMARK, QUIZ_PERSONAL_IS_SOLVE)
        VALUES (#{id}, #{quizId}, #{userId}, #{quizPersonalIsBookmark, jdbcType=INTEGER}, #{quizPersonalIsSolve, jdbcType=INTEGER})
    </insert>



    <!--    문제 해결 여부 반환-->
    <update id="updateIsSolve" parameterType="QuizResponseDTO">
        UPDATE TBL_QUIZ_PERSONAL
        SET QUIZ_PERSONAL_IS_SOLVE = CASE WHEN QUIZ_PERSONAL_IS_SOLVE = 1 THEN 1 ELSE 1 END
        WHERE QUIZ_ID = #{quizId} AND USER_ID = #{userId}
    </update>

<!--    북마크 여부 반환-->
    <update id="updateIsBookmark" parameterType="QuizResponseDTO">
        UPDATE TBL_QUIZ_PERSONAL
        SET QUIZ_PERSONAL_IS_BOOKMARK = CASE WHEN QUIZ_PERSONAL_IS_BOOKMARK = 1 THEN 0 ELSE 1 END
        WHERE QUIZ_ID = #{quizId} AND USER_ID = #{userId}
    </update>

<!--    퀴즈 해결여부,북마크 해당퀴즈정보 반환-->
    <select id="selectQuizPersonalById" parameterType="QuizResponseDTO" resultType="Long">
        SELECT ID as id
        FROM TBL_QUIZ_PERSONAL
        WHERE USER_ID = #{userId} AND QUIZ_ID = #{quizId}
    </select>
    <select id="selectAllQuizPersonalById" parameterType="Long" resultType="QuizPersonalVO">
        SELECT ID as id, QUIZ_PERSONAL_IS_SOLVE, QUIZ_PERSONAL_IS_BOOKMARK, QUIZ_ID, USER_ID
        FROM TBL_QUIZ_PERSONAL
        WHERE ID = #{id}
    </select>

<!--    회원탈퇴시 데이터삭제용-->
    <delete id="delete" parameterType="Long">
        DELETE
        FROM TBL_QUIZ_PERSONAL
        WHERE ID = #{id}
    </delete>

    <select id="selectByBookmarkIsSolve" parameterType="Long" resultType="QuizPersonalResponseDTO">
        SELECT
            TBQ.ID as quizId,
            TQP.ID as quizPersonalId,
            TQP.QUIZ_PERSONAL_IS_SOLVE as quizPersonalIsSolve,
            TQP.QUIZ_PERSONAL_IS_BOOKMARK as quizPersonalIsBookmark,
            TQP.USER_ID as userId
        FROM TBL_QUIZ TBQ
        JOIN TBL_QUIZ_PERSONAL TQP
        ON TBQ.ID = TQP.QUIZ_ID
        WHERE TQP.USER_ID = #{userId}
    </select>

<!--    <select id="selectQuizByPersonal" parameterType="QuizResponseDTO"-->

                                            <!--    퀴즈 제출내역 쿼리들-->

    <insert id="insertQuizSubmit" parameterType="QuizResponseDTO">
        INSERT INTO TBL_QUIZ_SUBMIT(ID, QUIZ_SUBMIT_CODE, QUIZ_SUBMIT_RESULT, USER_ID, QUIZ_ID)
        VALUES(SEQ_QUIZ_SUBMIT.NEXTVAL, #{quizSubmitCode}, '0', #{userId}, #{quizId})
    </insert>

<!--        &#45;&#45; 한사람의 해당문제에 대한 제출내역-->
    <select id="selectQuizSubmit" parameterType="QuizResponseDTO" resultType="QuizSubmitVO">
        SELECT ID, QUIZ_SUBMIT_CODE, QUIZ_SUBMIT_RESULT, QUIZ_SUBMIT_CREATE_AT, QUIZ_SUBMIT_ERROR, USER_ID, QUIZ_ID
        FROM TBL_QUIZ_SUBMIT
        WHERE USER_ID = #{userId} AND QUIZ_ID = #{quizId}
    </select>

<!--        &#45;&#45; 한사람의 모든문제에 대한 제출내역들-->
    <select id="selectQuizSubmitAll" parameterType="QuizResponseDTO" resultType="QuizSubmitVO">
        SELECT ID, QUIZ_SUBMIT_CODE, QUIZ_SUBMIT_RESULT, QUIZ_SUBMIT_CREATE_AT, QUIZ_SUBMIT_ERROR, USER_ID, QUIZ_ID
        FROM TBL_QUIZ_SUBMIT
        WHERE USER_ID = #{userId}
    </select>

<!--            채점 후 정답이면 정답여부 업데이트-->
    <update id="updateSubmitResult" parameterType="QuizResponseDTO">
        UPDATE TBL_QUIZ_SUBMIT
        SET QUIZ_SUBMIT_RESULT = QUIZ_SUBMIT_RESULT + 1
        WHERE USER_ID = #{userId} AND QUIZ_ID = #{quizId}
    </update>


<!--                         마이페이지용 XML                       -->
    <select id="selectQuizIsSolveMyData" parameterType="Long" resultType="QuizMyPageDTO">
        SELECT
            TBQ.ID as id,
            TBQ.QUIZ_TITLE as quizTitle,
            TBQ.QUIZ_DESCRIPTION as quizDescription,
            TBQ.QUIZ_CATEGORY as quizCategory,
            TBQ.QUIZ_EXPECTATION as quizExpectation,
            TBQ.QUIZ_EXP as quizExp,
            TBQ.QUIZ_DIFFICULT as quizDifficult,
            TBQ.QUIZ_LANGUAGE as quizLanguage,
            TBP.USER_ID as userId
        FROM TBL_QUIZ_PERSONAL TBP
        JOIN TBL_USER TBU
            ON TBP.USER_ID = TBU.ID
        JOIN TBL_QUIZ TBQ
            ON TBP.QUIZ_ID = TBQ.ID AND TBU.ID = TBP.USER_ID
        WHERE TBP.USER_ID = #{userId}
    </select>

    <select id="selectQuizIsSolveForLanguageMyData" parameterType="Long" resultType="QuizMyPageDTO">
        SELECT
            TBQ.QUIZ_LANGUAGE as quizLanguage,
            TBP.USER_ID as userId
        FROM TBL_QUIZ_PERSONAL TBP
        JOIN TBL_QUIZ   TBQ
            ON TBP.QUIZ_ID = TBQ.ID
        JOIN TBL_USER TBU
            ON TBP.QUIZ_ID = TBQ.ID AND TBU.ID = TBP.USER_ID
        WHERE TBP.QUIZ_PERSONAL_IS_SOLVE > 0 AND TBP.USER_ID = #{userId}
    </select>
</mapper>