<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.webnest.mapper.QuizMapper">
<!--    필터링토글 값받고 필터링해주는 쿼리-->
    <select id="selectAllFilter" parameterType="Map" resultType="QuizVO">
        SELECT ID,
            QUIZ_DIFFICULT as quizDifficult,
            QUIZ_LANGUAGE as quizLanguage,
            QUIZ_TITLE as quizTitle,
            QUIZ_CATEGORY as quizCategory,
            QUIZ_EXP as quizExp,
            QUIZ_DESCRIPTION as quizDescription
        FROM TBL_QUIZ
        WHERE 1 = 1
        <if test="quizLanguage != null and quizLanguage != ''">
            AND QUIZ_LANGUAGE = #{quizLanguage}
        </if>
        <if test="quizDifficult != null and quizDifficult != ''">
            AND QUIZ_DIFFICULT = #{quizDifficult}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (QUIZ_TITLE LIKE CONCAT('%', #{keyword}, '%') OR QUIZ_DESCRIPTION LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        ORDER BY ID ASC
        <if test="page != null">
            OFFSET (#{page} - 1) * 10 ROWS FETCH NEXT 10 ROWS ONLY
        </if>

    </select>
<!--    전체 퀴즈리스트-->
    <select id="selectAll" resultType="QuizVO">
        SELECT ID, QUIZ_TITLE, QUIZ_DESCRIPTION, QUIZ_CATEGORY, QUIZ_DIFFICULT, QUIZ_LANGUAGE, QUIZ_EXPECTATION, QUIZ_EXP
        FROM TBL_QUIZ
    </select>
<!--    퀴즈 리스트 페이징처리 쿼리-->
    <select id="selectListTotalCount" parameterType="Map" resultType="Long" >
        SELECT COUNT(ID)
        FROM TBL_QUIZ
    </select>
<!--    퀴즈 조회(싱글 워크스페이스)-->
    <select id="select" parameterType="Long" resultType="QuizVO">
        SELECT ID, QUIZ_TITLE, QUIZ_DESCRIPTION, QUIZ_CATEGORY, QUIZ_DIFFICULT, QUIZ_LANGUAGE, QUIZ_EXPECTATION, QUIZ_EXP
        FROM TBL_QUIZ
        WHERE ID = #{id}
    </select>
<!--    퀴즈 결과기댓값 받고 "실패" 또는 "성공" 응답-->
    <select id="selectExpectation" resultType="String" parameterType="Long">
        SELECT QUIZ_EXPECTATION
        FROM TBL_QUIZ
        WHERE ID = #{id}
    </select>

<!--    퀴즈 조회(JOIN)-->
    <select id="selectQuizPersonalAll" resultType="QuizPersonalDTO">
        SELECT
            TQP.ID,
            TQP.QUIZ_PERSONAL_IS_SOLVE,
            TQP.QUIZ_PERSONAL_IS_BOOKMARK,
            TQP.USER_ID,
            TQP.QUIZ_ID,
            TBU.USER_NAME,
            TBU.USER_NICKNAME,
            TBU.USER_LEVEL,
            TBU.USER_EXP,
            TBU.USER_EMAIL,
            TBQ.QUIZ_EXP
        FROM TBL_QUIZ_PERSONAL TQP
        JOIN TBL_USER TBU
            ON TQP.USER_ID = TBU.ID
        JOIN TBL_QUIZ TBQ
            ON TQP.QUIZ_ID = TBQ.ID
    </select>
<!--    QuizPersonal QRUD-->
<!--    문제 제출시 풀었던 내역 저장-->
    <insert id="insert" parameterType="QuizPersonalVO">
        INSERT INTO TBL_QUIZ_PERSONAL(ID, QUIZ_ID, USER_ID)
        VALUES(SEQ_QUIZ_PERSONAL.NEXTVAL, #{quizId}, #{userId})
    </insert>

<!--    문제 해결 여부 반환-->
    <update id="updateIsSolve" parameterType="QuizResponseDTO">
        UPDATE TBL_QUIZ_PERSONAL
        SET QUIZ_PERSONAL_IS_SOLVE = QUIZ_PERSONAL_IS_SOLVE + 1
        WHERE QUIZ_ID = #{quizId} AND USER_ID = #{userId}
    </update>

<!--    북마크 여부 반환-->
    <update id="updateIsBookmark" parameterType="QuizResponseDTO">
        UPDATE TBL_QUIZ_PERSONAL
        SET QUIZ_PERSONAL_IS_BOOKMARK = CASE WHEN QUIZ_PERSONAL_IS_BOOKMARK = 1 THEN 0 ELSE 1 END
        WHERE QUIZ_ID = #{quizId} AND USER_ID = #{userId}
    </update>

<!--    퀴즈 해결여부,북마크 해당퀴즈정보 반환-->
    <select id="selectQuizPersonalById" parameterType="QuizResponseDTO" resultType="QuizPersonalVO">
        SELECT ID, QUIZ_PERSONAL_IS_SOLVE, QUIZ_PERSONAL_IS_BOOKMARK, QUIZ_ID, USER_ID
        FROM TBL_QUIZ_PERSONAL
        WHERE USER_ID = #{userId}
    </select>

<!--    회원탈퇴시 데이터삭제용-->
    <delete id="delete" parameterType="Long">
        DELETE
        FROM TBL_QUIZ_PERSONAL
        WHERE ID = #{id}
    </delete>



</mapper>