<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.webnest.mapper.SubcommentLikeMapper">



    <insert id="insert" parameterType="SubcommentLikeVO">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_SUBCOMMENT_LIKE.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_SUBCOMMENT_LIKE(ID,USER_ID, SUBCOMMENT_ID)
        VALUES (#{id}, #{userId}, #{subcommentId})
    </insert>

    <select id="selectByPostIdcount" parameterType="Long" resultType="_int" >
        SELECT COUNT(SUBCOMMENT_ID)
        FROM TBL_SUBCOMMENT_LIKE
        WHERE SUBCOMMENT_ID= #{subcommentId}
    </select>


    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_SUBCOMMENT_LIKE
        WHERE ID = #{id}
    </delete>

<!--    -->
    <delete id="deleteByUserAndSubcomment" parameterType="SubcommentLikeVO">
        DELETE FROM TBL_SUBCOMMENT_LIKE
        WHERE USER_ID = #{userId}
        AND SUBCOMMENT_ID = #{subcommentId} AND ID = #{id}
    </delete>

    <!-- 대댓글 ID로 대댓글 좋아요들 삭제 -->
    <delete id="deleteBySubcommentId" parameterType="Long">
        DELETE FROM TBL_SUBCOMMENT_LIKE
        WHERE SUBCOMMENT_ID = #{subcommentId}
    </delete>

</mapper>