<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.webnest.mapper.SubcommentMapper">

    <select id="selectSubcomment" parameterType="Long" resultType="SubcommentDTO" >
        SELECT TBS.ID, TBS.SUBCOMMENT_DESCRIPTION, TBS.COMMENT_ID, TBU.USER_NICKNAME, TBS.USER_ID, TBS.SUBCOMMENT_CREATE_AT
        FROM TBL_SUBCOMMENT TBS
        JOIN TBL_USER TBU
        ON TBS.USER_ID = TBU.ID
        WHERE COMMENT_ID = #{commentId}
    </select>

    <!-- 대댓글 작성 -->
    <insert id="insert" parameterType="SubcommentVO">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_SUBCOMMENT.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_SUBCOMMENT(ID, SUBCOMMENT_DESCRIPTION, SUBCOMMENT_CREATE_AT, USER_ID, COMMENT_ID)
        VALUES (#{id}, #{subcommentDescription}, #{subcommentCreateAt}, #{userId}, #{commentId})
    </insert>

    <!-- 대댓글 삭제 -->
    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_SUBCOMMENT
        WHERE ID = #{id}
    </delete>
</mapper>



